#currentDayForecast  {
    border: 10px black solid;
    height: 400px;
    width: 500px;
    margin-top: 0;
    padding: 20px;
}
.jumbotron {
    padding-bottom: 0px;
}
.fiveDayBlocks {
margin: 10px;


}
#fiveDayForecast {
   position: absolute;
   bottom: 25px;
    left: 500px;

}
#Buttons {
    width: 100px;
}
body {
background-color: blue;
color: white;
}
h1 {
    background-color: orangered;
}
